SIGNER_URL=URL_SIGNER
MH_URL=URL_MH
NIT=NIT
DUI=DUI
PRIVATE_KEY=RUTA_LLAVE_PRIVADA
API_PASSWORD=CONTRASEÑA_API

# EMPRESA
EMPRESA_NIT=0000000000000
EMPRESA_NRC=000000
EMPRESA_NOMBRE=EMPRESA
EMPRESA_CODACTIVIDAD=0001
EMPRESA_DEPARTAMENTO=00
EMPRESA_MUNICIPIO=00
EMPRESA_ESTABLECIMIENTO=M001
EMPRESA_POS=P001